@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
:root{
    --nav-font: 'Sarala', sans-serif;
    --title-font: 'Righteous', cursive;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-image: linear-gradient(400deg,#2F2325, #8E5D52);
}  

header{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    padding: 1% 0 1% 10%;
    border-bottom: 0.4px solid #FFF2E7;
    align-items: center;
}

.img1{
    box-sizing: border-box;
    height: auto;
}

.header__logo{
    justify-content: center;
}

.header__nav{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.header__nav__link {
    font-family: var(--nav-font);
    color: #FFF2E7;
    font-size: 1.125rem;
    transition: all 0.3s;
}

.header__nav__link:hover {
    font-family: var(--nav-font);
    color: #FFF2E7;
    font-size: 1.125rem;
    border-radius: 8px;
    border:0.4px solid #FFF2E7;
    padding: 2%;
    transition: all 0.3s;
}

.main__presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 3% 10%;
    align-items: center;
}

.main__presentation__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.main__presentation__text__title{
    font-family: var(--title-font);
    font-size: 4rem;
    color: #FFF2E7;
}

.main__presentation__text__text{
    font-family: var(--nav-font);
    font-size: 1.5rem;
    color: #ECD6C4;
}

.main__presentation__button{
    transition: all 0.3s;
    background-color: #ECD6C4;
    padding: 0.875rem;
    border-radius: 8px;
    border: 0.1px solid #FFF2E7;
    width: fit-content;
    color: #2F2325;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.363);
}

.main__presentation__button:hover{
    transition: all 0.3s;
    background-color: rgb(236, 214, 196, 0.53);
    padding: 1rem;
    border-radius: 8px;
    border: 0.1px solid #FFF2E7;
    width: fit-content;
    color: #2F2325;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.363);
}


.main__presentation__img__container{
    text-align: center;
}

.main__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--nav-font);
    font-size: 1.125rem;
    padding: 4.5% 0 4% 0;
    gap: 2rem;
    color: #ECD6C4;
    align-items: center;
}

.main__list__title{
    padding-top: 8%;
    width: 30%;
    border-top: 0.4px solid #FFF2E7;
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFF2E7;
}


footer{
    text-align: center;
    border-top: 0.4px solid #FFF2E7;
    padding: 2% 0 2% 0;

}